.con{
    background-color: #fff;
    padding: 2rem 2.5rem;
}
.title{
    color: #fff; 
    display: inline-block;
    background-color: #333;
    border-radius: 1rem ;
    padding: 0.5rem;
}

#res-icon{
    color: #333;
    padding: 0.5rem 0.75rem;
    background-color: #FAF0E6;
    border-radius: 0.5rem ;
}
body{
    background-image: url(https://i.pinimg.com/236x/61/bb/e4/61bbe4a4a3bbd2bfc41154069f9213a3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}